dist: xenial

sudo: required

services:
  - docker

language: python

python:
  - "3.7"

install:
  - pip install pipenv
  - pipenv install --dev --deploy

script:
  - make flake
  - make check
  - make docker_build

env:
  global:
    - PIPENV_IGNORE_VIRTUALENVS=1

branches:
  only:
    - master
